
.cards__inner {
    width: 1232px;
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1250px) {
    .cards__inner {
        width: 90%;
    }
}

@media screen and (max-width: 769px) {
    .cards__inner {
        margin-top: 10px;
    }
}