
.cards__button {
    background-color: #fff;
    padding: 18px 85px;
    border: none;
    cursor: pointer;
    margin-top: 64px;
    border-radius: 80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color: #1A1B22;
}

.cards__button:focus {
    outline: none;
}

@media screen and (max-width: 769px) {
    .cards__button {
        margin-top: 32px;
    }
}

@media screen and (max-width: 767px) {
    .cards__button {
        margin-top: 14px;
        width: 90%;
        padding: 18px 0px;
    }
}