
.table__title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    /* identical to box height, or 115% */


    /* main/black */

    color: #1A1B22;
}

@media screen and (max-width: 569px) {
    .table__title {
        font-size: 22px;
    }
}

