
.table__container {
    max-width: 1440px;
    padding: 0 100px;
    margin: 0 auto;
}

@media screen and (max-width: 769px) {
    .table__container {
        padding: 0 40px;
    }
}

@media screen and (max-width: 569px) {
    .table__container {
        padding: 0 16px;
    }
}