
.table__blue {
    background: #2F71E5;
    min-width: 1.5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    /* or 133% */

    letter-spacing: 0.4px;
    text-transform: uppercase;

    /* main/white */

    color: #FFFFFF;
    padding: 6px;
}

