.author__title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin-top: 50px;
}

@media screen and (max-width: 1250px) {
    .author__title {
        margin-top: 0px;
    }
}

@media screen and (max-width: 769px) {
    .author__title {
        font-size: 30px;
        line-height: 40px;  
    }
}